:root {
  --primary-accent: #B123D9;
  --secondary-accent: #5C148C;
  --background-1: #3B0C59;
  --background-2: #1A1040;
  --base-dark: #0D0D0D;
  --highlight-text: #FFFFFF;
}

body {
  background-color: var(--base-dark);
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Inter', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}

a {
  color: var(--primary-accent);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-accent);
}